
/* General Body Style */
.body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 4rem;
}

.brand {
    font-size: 1.125rem;
    font-weight: bold;
    color: #D3D3D3;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu span, .menu button {
    cursor: pointer;
    font-weight: 600;
}

.dropdown {
    position: relative;
}

#dropdownMenu {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 0.5rem;
    width: 8rem;
    height: 4rem;
    margin-top: 0.5rem;
}

#dropdownMenu p a {
    color: white;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    display: block;
    cursor: pointer;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
    text-align: center;
}

.main-content h1 {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    max-width: 80%;
}

.video-container #hero-video {
    width: 700px;
    height: auto;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 25px;
}

/* QR Code Section */
.qr-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-input {
    color: black;
    font-weight: 600;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    width: 24rem;
}

.btn-paste, .btn-generate, .btn-download {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: 18rem;
    margin-top: 0.5rem;
}

.btn-paste {
    background-color: #e383ab;
}

.btn-paste:hover {
    cursor: pointer;
}

.btn-generate {
    background: linear-gradient(to right, rgba(128,0,128,0.2), rgba(128,0,128,0.8));
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    border: none;
    max-width: 15rem;
    margin-bottom: 30px;
}

.btn-generate:hover {
    background: linear-gradient(to left, rgba(128,0,128,0.2), rgba(128,0,128,0.8));
    cursor: pointer;
}

.btn-download {
    background-color: #32CD32;
}

.hidden {
    display: none;
}

input {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn-paste, .btn-generate {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 640px) {
    .main-content h1 { font-size: 2rem; }
    .header { flex-direction: column; text-align: center; }
    .menu { flex-direction: column; gap: 0.5rem; }
    .video-container #hero-video, .qr-input, .btn-paste, .btn-generate, .btn-download {
        max-width: 80%;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .main-content h1 { font-size: 3rem; }
}

@media (min-width: 1025px) {
    .main-content h1 { font-size: 4rem; }
}

input, button {
    border: none;
}
